/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017. 2. 2, 오전 11:38:20
    Author     : heraldx
*/

h4 {
    margin-top: 25px;
}
.row {
    margin-bottom: 20px;
    display: flex;
    /*overflow: hidden;*/
}
.row .row {
    margin-top: 10px;
    margin-bottom: 0;
}
[class*="col-"] {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #eee;
    background-color: rgba(86,61,124,.15);
    border: 1px solid #ddd;
    border: 1px solid rgba(86,61,124,.2);
}

hr {
    margin-top: 40px;
    margin-bottom: 40px;
}